/* html, body */

p {
    margin: 0.5em 0;
}

.meta-name {
    margin-right: 8px;
    position: relative;
    top: -2px;
}

.top-hint {
    background: #CFC;
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 1.25em;
    margin-right: -15px;
}

@media only screen and (max-width: 768px) {
    .top-hint{
        margin-right: 0;
    }
}

/* left bar */

.photo img {
    width: 100%;
}

.data {
    margin-top: 18px;
    font-size: 20px;
}

.data, .lmsg, .sel-opt {
    padding: 12px 0;
    border-top: solid gainsboro 1px;
}

.lmsg input {
    width: 100%;
}

.data p {
    margin: 0.2em 0;
}

.data .meta-name {
    min-width: 4em;
}

.sel-opt {
    padding-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .photo {
        display: none;
    }
    .data {
        border-top: 0;
        margin-top: 0;
    }
    .data .meta-cont{
        display: inline-block;
    }
}

