/* html, body */

body {
    padding: 24px 0px;
}

p {
    margin: 0.5em 0;
}

.meta-name {
    margin-right: 3px;
    position: relative;
    top: -2px;
}

.top-hint {
    background: lightgreen;
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 1.25em;
}

/* left bar */

.photo img {
    width: 100%;
}

.data {
    margin-top: 18px;
    font-size: 20px;
}

.data, .lmsg, .sel-opt {
    padding: 12px 0;
    border-top: solid gainsboro 1px;
}

.lmsg input {
    width: 100%;
}

.data p {
    margin: 0.2em 0;
}

.data .meta-name {
    min-width: 4em;
}

.sel-opt {
    padding-bottom: 0;
}

/* board */

.board {
    margin: 0 0 1.25em 0;
}

.meta-cont {
    display: inline-block;
}

.msg {
    border-right: solid gainsboro 1.5px;
    position: relative;
    padding-left: 0;
}

.msg .meta-name {
    min-width: 5em;
}

.cont {
    text-align: justify;
    color: #333;
    font-size: 16px;
    padding-right: 0;
}

.vtitle {
    font-weight: bold;
    text-align: right;
}

.tool a {
    margin-right: 6px;
}

.nev {
    padding: 0.5em 1em 0.5em 1em;
    background: #FEE;
    border-radius: 3px;
}

.nev p:first-child, .ev p:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

.ev p:last-child, .nev p:last-child {
    margin-bottom: 0;
}

.ev p:first-child {
    margin-top: 0;
}

.ev + .nev {
    margin-top: 0.5em;
}

@media only screen and (max-width: 768px) {
    .photo {
        display: none;
    }
    .data {
        border-top: 0;
        margin-top: 0;
    }
}

@media only screen and (max-width: 576px) {
    .cont {
        padding-left: 0;
    }
    .msg {
        border-right: 0;
    }
    .board {
        padding-left: 1em;
        border-left: solid gainsboro 1.5px;
    }
    .msg p:first-child{
        margin-top: 0;
    }
}